<h3>Patient Info</h3>
<hr/>
<div class="row">
  <div class="col-sm-5 field-names">
    <div><strong>Field Name</strong></div>
    <div>MRN</div>
    <div>Name</div>
    <div>DOB</div>
    <div>Schedule Time</div>
    <div>Gender</div>
  </div>
  <div class="col-sm-7 field-notes" *ngIf="_patient">
    <div><strong>Note</strong></div>
    <div>{{ _patient.mrn }}</div>
    <div><input type="text" [value]="_patient.name"></div>
    <div><input [(ngModel)]="_patient.dob" ng2-datetime-picker date-only="true" /></div>
    <div><input [(ngModel)]="_patient.schedule" ng2-datetime-picker date-format="MM-DD-YYYY" /></div>
  </div>
</div>