<h3>Patient Info</h3>
<hr/>
<div class="row">
  <div class="col-sm-5 field-names">
    <div><strong>Field Name</strong></div>
    <div>MRN</div>
    <div>Name</div>
    <div>DOB</div>
    <div>Schedule Time</div>
    <div>Gender</div>
  </div>
  <div class="col-sm-7 field-notes">
    <div><strong>Note</strong></div>
    <div>{{ _patient.mrn }}</div>
    <div>{{ _patient.name }}</div>
    <div>{{ _patient.dob }}</div>
    <div>{{ _patient.schedule }}</div>
    <div>{{ _patient.gender }}</div>
  </div>
</div>